.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  gap: 30px;
}

.movie-details h1 {
  color: #3757b1;
  font-size: 24px;
}

.movie-details p {
  color: #4d4040;
  font-size: 18px;
}